/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  cursor: pointer;
  border: none;
}

body {
  font-family: "Roboto Mono", sans-serif;
}

.main {
  display: flex;
  gap: 2rem;
  margin-top: 7rem;
  justify-content: space-around;
}

.container__item {
  display: flex;
  width: 350px;
  border-radius: 6px;
  padding: 0.5em;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
  margin-bottom: 0.3rem;
}

.container__item-description {
  font-size: 0.7rem;
}

.container__item-box {
  display: inline-block;
  padding-left: 1.5rem;
}

.selected,
.container__item:hover {
  background-color: rgb(250, 242, 227);
}

img {
  border-radius: 50%;
}

.btn {
  border-radius: 6px;
  background-color: orange;
  height: 2rem;
  padding: 0 1rem;
}

.formaddfriend {
  width: 350px;
  border-radius: 6px;
  padding: 0.5em;
  background-color: rgb(250, 242, 227);
  margin-top: 2rem;
}

.form_input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.custom_input1 {
  width: 170px;
  height: 30px;
  border: 0.5px solid rgb(247, 224, 150);
  border-radius: 6px;
  padding: 0 1rem;
}

.custom_input2 {
  width: 120px;
  height: 30px;
  border: 0.5px solid rgb(247, 224, 150);
  border-radius: 6px;
  padding: 0 1rem;
}

/* input:focus,
select:focus {
  border-color: rgb(255, 166, 0);
} */

.addfriend-btn-container {
  display: flex;
  justify-content: flex-end;
}

.addfriend-btn {
  width: 170px;
  align-self: flex-end;
}

.close-btn-container {
  width: 350px;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  padding: 0.5em;
}

.formsplitbill {
  background-color: rgb(250, 242, 227);
  padding: 2em;
  margin-bottom: 5rem;
  border-radius: 6px;
  width: 450px;
}

.formsplitbill__title {
  font-size: 1.3rem;
  letter-spacing: -0.05em;
  margin-bottom: 2rem;
}

.splitbill-btn-container {
  display: flex;
  justify-content: flex-end;
}

.splitbill {
  width: 120px;
}

.addfriend-btn2 {
  display: flex;
  justify-content: flex-end;
  width: 350px;
  padding: 0.5em;
  margin-top: 1rem;
}

.formsplitbill {
  position: absolute;
}

input:focus,
select:focus {
  border: 1px solid rgb(255, 166, 0);
  outline: none;
}

/*Media queries*/

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .formsplitbill {
    position: static;
  }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
@media (min-width: 1280px) {
  .main {
    margin-inline: 15%;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .main {
    margin-inline: 20%;
  }
}
